@page "/"

<PageTitle>EducationPlatform - Онлайн обучение</PageTitle>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4 fw-bold mb-4">Добро пожаловать в EducationPlatform!</h1>
            <p class="lead mb-4">Платформа для онлайн обучения и развития навыков</p>
            
            <AuthorizeView>
                <NotAuthorized>
                    <div class="d-flex gap-3 justify-content-center mb-5">
                        <a href="/Account/Login" class="btn btn-primary btn-lg">Войти</a>
                        <a href="/Account/Register" class="btn btn-success btn-lg">Регистрация</a>
                        <a href="/courses" class="btn btn-secondary btn-lg">Лекции</a>
                    </div>
                </NotAuthorized>
                <Authorized>
                    <a href="/courses" class="btn btn-primary btn-lg">Перейти к лекциям</a>
                </Authorized>
            </AuthorizeView>

            <hr class="my-5" />

            <div class="row mt-5">
                <div class="col-md-4">
                    <h5>Качественные лекции</h5>
                    <p>Лекции от опытных преподавателей и экспертов в своей области</p>
                </div>
                <div class="col-md-4">
                    <h5>Достижения</h5>
                    <p>Получайте сертификаты после завершения курсов</p>
                </div>
            </div>
        </div>
    </div>
</div>
