@page "/"

<PageTitle>Главная - Образовательная платформа</PageTitle>

<h1>Добро пожаловать!</h1>

<div class="container">
    <div class="card mb-4">
        <div class="card-header">
            О платформе
        </div>
        <div class="card-body">
            <p>Платформа для онлайн обучения и развития навыков</p>
            <p>Здесь вы можете найти качественные курсы и лекции</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="/courses">Перейти к лекциям</a>
        </div>
    </div>

    <AuthorizeView>
        <Authorized>
            <div class="card">
                <div class="card-header">
                    Быстрый доступ
                </div>
                <div class="card-body">
                    <p>Вы вошли как: @context.User.Identity?.Name</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary m-2" href="/my-learning">Мои курсы</a>
                    <a class="btn btn-primary m-2" href="/courses">Все лекции</a>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="card">
                <div class="card-header">
                    Начните обучение
                </div>
                <div class="card-body">
                    <p>Войдите или зарегистрируйтесь для доступа ко всем функциям</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary m-2" href="/Account/Login">Вход</a>
                    <a class="btn btn-primary m-2" href="/Account/Register">Регистрация</a>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>
