@page "/my-learning"
@attribute [Authorize]
@using Hits.Blazor.Todo.FinalProject.GubanovaSO.Models
@using Hits.Blazor.Todo.FinalProject.GubanovaSO.Data.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject EnrollmentService EnrollmentService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Мои курсы - Образовательная платформа</PageTitle>

<h1>Мои курсы</h1>

<div class="container">
    

    <div class="mt-4">
        <a href="/courses" class="btn btn-primary">Выбрать еще курсы</a>
    </div>
</div>

@code {
    private string? userId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            userId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        }
    }
}
