@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
}

code {
    color: #d63384;
}

.page {
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        margin-left: 0;
    }

    .top-row .auth ::deep a {
        text-decoration: none;
    }

        .top-row .auth ::deep a:hover {
            text-decoration: underline;
        }

.content {
    padding-top: 1.5rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

main {
    flex: 1;
}

    main ::deep .nav-tabs {
        border-bottom: 2px solid #e1e4e8;
        border-radius: 0px;
        border-width: 0;
    }

        main ::deep .nav-tabs .nav-link {
            border-radius: 0px;
            border: 1px solid transparent;
            color: #6a737d;
            text-decoration: none !important;
        }

            main ::deep .nav-tabs .nav-link:hover {
                border-color: #e1e4e8;
            }

        main ::deep .nav-tabs .active {
            color: #24292e;
            background-color: #fff;
            border-color: #e1e4e8;
            border-bottom: 2px solid #fff;
        }

    main ::deep .nav-item {
        margin-bottom: 0.5rem;
    }

        main ::deep .nav-item:first-of-type {
            padding-top: 1rem;
        }

        main ::deep .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        main ::deep .nav-item ::deep a {
            color: #d7dadc;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            main ::deep .nav-item ::deep a.active {
                background-color: rgba(255, 255, 255, 0.25);
                color: white;
            }

            main ::deep .nav-item ::deep a:hover {
                background-color: rgba(255, 255, 255, 0.1);
                color: white;
            }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    main {
        flex-direction: column;
    }

    .sidebar {
        display: none;
    }

        .sidebar.collapse {
            display: flex;
            flex-direction: column;
        }

    main ::deep .nav-scrollable {
        flex-direction: row;
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    main ::deep .nav-item {
        margin-bottom: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        overflow-y: auto;
    }

    main {
        flex: 1;
    }

    .top-row.auth {
        justify-content: space-between;
    }

        .top-row.auth ::deep a:first-child {
            margin-left: auto;
        }

    main ::deep .nav-scrollable {
        flex-direction: column;
    }

    main ::deep .navbar-toggler {
        display: none;
    }
}

.sidebar ::deep .navbar-brand {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    line-height: 2.5rem;
    padding-left: 15px;
}

.sidebar ::deep nav {
    flex-direction: column;
}

.px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.px-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
