@page "/courses/create"
@page "/courses/edit/{Id:int}"
@using Hits.Blazor.Todo.FinalProject.GubanovaSO.Models
@using Hits.Blazor.Todo.FinalProject.GubanovaSO.Data.Services
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject CourseService courseService
@inject NavigationManager navigate

@if (CourseItem != null)
{
    <EditForm Model="CourseItem" FormName="CourseForm" OnValidSubmit="ValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <h2>@(Id == 0 ? "Новая лекция" : "Редактировать лекцию")</h2>

        <InputNumber @bind-Value="CourseItem.Id" hidden />

        <div class="form-group d-flex justify-content-between m-2">
            <label class="col-form-label col-3">Название</label>
            <InputText @bind-Value="CourseItem.Title" class="form-control" />
            <ValidationMessage For="() => CourseItem.Title" />
        </div>

        <div class="form-group d-flex justify-content-between m-2">
            <label class="col-form-label col-3">Описание</label>
            <InputTextArea @bind-Value="CourseItem.Description" class="form-control" />
            <ValidationMessage For="() => CourseItem.Description" />
        </div>

        <div class="form-group d-flex justify-content-between m-2">
            <label class="col-form-label col-3">Категория</label>
            <InputText @bind-Value="CourseItem.Category" class="form-control" />
            <ValidationMessage For="() => CourseItem.Category" />
        </div>

        <div class="form-group d-flex justify-content-between m-2">
            <label class="col-form-label col-3">Часов</label>
            <InputNumber @bind-Value="CourseItem.DurationHours" class="form-control" />
            <ValidationMessage For="() => CourseItem.DurationHours" />
        </div>

        <div class="form-group d-flex justify-content-between m-2">
            <label class="col-form-label col-3">Уровень сложности (1-3)</label>
            <InputNumber @bind-Value="CourseItem.DifficultyLevel" class="form-control" />
            <ValidationMessage For="() => CourseItem.DifficultyLevel" />
        </div>

        <div class="form-group d-flex justify-content-between m-2">
            <label class="col-form-label col-3">URL картинки (необязательно)</label>
            <InputText @bind-Value="CourseItem.ImageUrl" class="form-control" />
        </div>

        <div class="btn-group">
            <button class="btn btn-primary m-2" type="submit">Сохранить</button>
            <a class="btn btn-primary m-2" href="/courses">Отмена</a>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    Course? CourseItem { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (CourseItem == null)
        {
            if (Id != 0)
            {
                var course = await courseService.GetCourseByIdAsync(Id);
                if (course != null)
                {
                    CourseItem = new Course
                    {
                        Id = course.Id,
                        Title = course.Title,
                        Description = course.Description,
                        Category = course.Category,
                        DurationHours = course.DurationHours,
                        DifficultyLevel = course.DifficultyLevel,
                        ImageUrl = course.ImageUrl,
                        CreatedDate = course.CreatedDate
                    };
                }
            }
            else
            {
                CourseItem = new Course
                {
                    CreatedDate = DateTime.Now
                };
            }
        }
    }

    async Task ValidSubmit()
    {
        if (CourseItem != null)
        {
            if (Id == 0)
            {
                CourseItem.CreatedDate = DateTime.Now;
                await courseService.CreateCourseAsync(CourseItem);
            }
            else
            {
                await courseService.UpdateCourseAsync(CourseItem);
            }
            navigate.NavigateTo("/courses");
        }
    }
}
