@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Hits.Todo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">Главная</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/courses">Курсы</NavLink>
                </li>
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/my-learning">Мое обучение</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/profile">Профиль</NavLink>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="/Account/Logout" style="display:inline;">
                                <button type="submit" class="nav-link btn btn-link" style="border:none;background:none;color:inherit;cursor:pointer;">Выход</button>
                            </form>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/Account/Register">Регистрация</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/Account/Login">Вход</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>
